{% extends 'base.html' %}
{% load journal_template_filters %}

{% block content %}

	<div class="row">
		<div class="col-md-12">

			<h1>Issue {{issue.volume}}.{{issue.number}} - {{issue.title}}</h1>

			<h2>Sections</h2>

			{% for section in issue.content %}

				<div class="row">
					<div class="col-md-12" style="padding-left:45px;">

						<h3>{{section.title}}</h3>

						{% for article in section.articles_ref %}

							<div class="row" style="padding-left:45px;">
								<div class="col-md-12">
									<p>
										<a href="{% url 'article' issue_id=issue|get:"_id" article_id=article|get:"_id" %}">
											<img style="width:100px;" src="{{article.mainImage.asset.url}}"/> - {{article.title}}<br>
											{% for author in article.authors %}
												<em>{{author.name}}</em><br>
											{% endfor %}
										</a>
									</p>
								</div>
							</div>

						{% endfor %}

					</div>
				</div>

			{% endfor %}

		</div>
	</div>

{% endblock %}